{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>Signup</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
{% endblock content%}
